/*
================================================== 
STANDARD
==================================================
*/

.forceprotection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/minigames/forceprotection/forceprotection.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  z-index: -1;
}

.pilot__container--box {
  margin: 1rem;
  background-color: rgba(72, 72, 72, 0.5);
  border: 2px solid white;
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  & .pilot__container--timer {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
}

.game-area {
  width: 26.875rem;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  border: 1px solid black;
  overflow: hidden;
}

.game {
  width: 100vw;
  height: 100vh;
}

/*
================================================== 
Game stuff
==================================================
*/
.object,
.friendly,
.enemy {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  rotate: 45deg;
}

.hard {
  width: 2.5rem;
  height: 2.5rem;
}

.friendly {
  background-color: green;
}

.enemy {
  background-color: red;
  transition: left 1.75s, top 1.75s;
}

.protected-object {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: green;
  left: 50%;
  top: 50%;
}
