.kader{
    background-image: url('/assets/images/minigames/pilot/straaljager.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    & .kader__container{
        background-color: rgba(255, 255, 255, 0.479);
        font-family: var(--font-family);
        height: 60vh;
        padding: 0 2rem;

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        & .kader__uitleg{
            color: white;

            display: flex;
            flex-direction: column;

            & ul{
                font-weight: 200;
            }
        }

        & button{
            border: none;
        }

    }
}