/*
================================================== 
STANDARD
==================================================
*/

.technicus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/minigames/technicus/212290_CHRISTIAN\ DECLOEDT.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  z-index: -1;
}

.pilot__container--box {
  margin: 1rem;
  background-color: rgba(72, 72, 72, 0.5);
  border: 2px solid white;
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  & .pilot__container--timer {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
}


.game {
  width: 25rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: none;
  margin: 0 auto;
}

.timer {
  display: none;
}

/*
================================================== 
Choose plane
==================================================
*/
.choose-difficulty {
background-color: transparent;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;

  & .difficulties {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    & .difficulty {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      cursor: pointer;
      width: 6.5rem;
      position: static;
      transform: translate(0);

      background-color: var(--secondary-color);
      padding: .5rem 1rem;
      border: none;
    }
  }
}

/*
================================================== 
game
==================================================
*/
.game.active {
  display: block;
  width: 26.875rem;

  & .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: rotate(45deg);

    & .easy {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
      width: 300px;
      height: 300px;
      border: 3px solid white;

      & .game-grid-child {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        border: 1px solid white;

        & div {
          height: 70%;
          width: 70%;
          border-radius: 50%;
        }

        /* main dots colors */
        & div.yellow {
          background-color: yellow;
        }
        & div.red {
          background-color: red;
        }
        & div.green {
          background-color: green;
        }
        & div.blue {
          background-color: blue;
        }
        /* connecting dots colors */
        & div.mini-red,
        div.mini-green,
        div.mini-blue,
        div.mini-yellow {
          width: 40%;
          height: 40%;
        }

        & div.mini-red {
          background-color: red;
        }
        & div.mini-green {
          background-color: green;
        }
        & div.mini-blue {
          background-color: blue;
        }
        & div.mini-yellow {
          background-color: yellow;
        }
      }
    }

    & .medium {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(5, 1fr);
      width: 300px;
      aspect-ratio: 1/1;
      border: 3px solid white;
      & .game-grid-child {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        border: 1px solid white;

        & div {
          height: 70%;
          width: 70%;
          border-radius: 50%;
        }

        /* main dots colors */
        & div.yellow {
          background-color: yellow;
        }
        & div.red {
          background-color: red;
        }
        & div.green {
          background-color: green;
        }
        & div.blue {
          background-color: blue;
        }
        & div.purple {
          background-color: purple;
        }
        & div.orange {
          background-color: orange;
        }
        /* connecting dots colors */
        & div.mini-red,
        div.mini-green,
        div.mini-blue,
        div.mini-yellow,
        div.mini-purple,
        div.mini-orange {
          width: 40%;
          height: 40%;
        }

        & div.mini-red {
          background-color: red;
        }
        & div.mini-green {
          background-color: green;
        }
        & div.mini-blue {
          background-color: blue;
        }
        & div.mini-yellow {
          background-color: yellow;
        }
        & div.mini-purple {
          background-color: purple;
        }
        & div.mini-orange {
          background-color: orange;
        }
      }
    }

    & .hard {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(8, 1fr);
      width: 300px;
      height: 300px;
      border: 3px solid white;
      & .game-grid-child {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        cursor: pointer;
        border: 1px solid white;

        & div {
          height: 70%;
          width: 70%;
          border-radius: 50%;
        }

        /* main dots colors */
        & div.yellow {
          background-color: yellow;
        }
        & div.red {
          background-color: red;
        }
        & div.green {
          background-color: green;
        }
        & div.blue {
          background-color: blue;
        }
        & div.purple {
          background-color: purple;
        }
        & div.orange {
          background-color: orange;
        }
        & div.pink {
          background-color: pink;
        }
        & div.brown {
          background-color: brown;
        }
        /* connecting dots colors */
        & div.mini-red,
        div.mini-green,
        div.mini-blue,
        div.mini-yellow,
        div.mini-purple,
        div.mini-orange,
        div.mini-pink,
        div.mini-brown {
          width: 40%;
          height: 40%;
        }

        & div.mini-red {
          background-color: red;
        }
        & div.mini-green {
          background-color: green;
        }
        & div.mini-blue {
          background-color: blue;
        }
        & div.mini-yellow {
          background-color: yellow;
        }
        & div.mini-purple {
          background-color: purple;
        }
        & div.mini-orange {
          background-color: orange;
        }
        & div.mini-pink {
          background-color: pink;
        }
        & div.mini-brown {
          background-color: brown;
        }
      }
    }
  }
}
