:root{
    --primary-color: hsl(216, 87%, 9%);
    --secondary-color: hsl(34, 91%, 56%);
    --text-color: white;
}

body{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

// ----------------- LOADING -----------------

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .percent{
    color: #999;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
  }
  .progress-bar{
    width: 100%;
    height: 21px;
    background: #111;
    padding: 3px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-evenly;
  }
  .progress{
    width: 100vw;
    height: 15px;
    background: var(--secondary-color);

  }
  .text{
    position: absolute;
    left: 160px;
    color: #fdb5ca;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 21px;
    display: none;
  }
  .text-blink{
    animation: animate .7s ease-in-out .1s;
  }
  @keyframes animate {
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0.2;
    }
    100%{
      opacity: 1;
    }
  }

  // ----------------- END-LOADING -----------------

  // ----------------- LOGO ------------------------

 
  * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

  .logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    
    
    .icon {
     width: 50%;
     max-width: 300px;
     
     path {
      fill: transparent;
      stroke-width: 5;
      stroke-dasharray: 3000;
      stroke-dashoffset: -3000;
      
      &.is-active {
        animation: icon 4s 1 forwards;
      }
     }
    }
  }
    @keyframes icon {
      50% {
       stroke-dashoffset: 0;
      }
      75% {
       fill: transparent;
       stroke-width: 5px;
      }
      100% {
       stroke-dashoffset: 0;
       fill: var(--secondary-color);
       stroke-width: 0px;
       
      }
     }