body {
    background-image: url("../imgs/Earth_background.png");
    background-size: cover;
    background-repeat: no-repeat;


    label {
        margin-right: auto;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;

        & input {
            justify-content: center;
            padding: 0.5rem;
            margin-bottom: 1rem;
            width: 80%;
            background-color: rgba(128, 128, 128, 0.7);
        }
    }
}
