body {
    background-image: url("../imgs/Earth_background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

label {
    margin-bottom: 0.5rem;
}

input {
    justify-content: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 80%;
}
