.register {
    display: flex;
    flex-direction: column;

    & h1, p {
        margin: 2rem auto;
        color: white;
    }

    & a {
        margin: 2rem auto;
        color: gray;
        text-decoration: underline;
        text-decoration-color: white;
    }

    .register--svg {
        width: 50%;
        margin: 4rem auto;
    }

    & button{
        background-color: orange;
        margin: 1rem auto;
        padding: 0.5rem 4rem;
        color: white;
    }
}
