.register {
    display: flex;
    flex-direction: column;

    & h1, p {
        margin: 2rem auto;
        color: white;
    }

    & a {
        margin: 2rem auto;
        color: gray;
        text-decoration: underline;
        text-decoration-color: white;
    }

    & button{
        background-color: hsl(33.9,100%,56.27%);
        margin: 1rem auto;
        padding: 0.5rem 4rem;
        color: white;

        &:hover {
            background-color: hsl(33.9,80%,56.27%);
            color: white;
        }
    }
    
    .register--svg {
        width: 50%;
        margin: 4rem auto;
    }
}
