.register {
    display: flex;
    flex-direction: column;

    .register--title {
        margin: 2rem auto;
        color: white;
    }

    .register--text {
        margin: 2rem auto;
        color: white;
    }

    .register--svg {
        fill: red;
    }
}
