/*
================================================== 
Plane
==================================================
*/
.game {
  /* Set the size of the game area */
  width: 50rem;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid black;
}

.plane {
  /* Position the plane at the bottom center of the game area */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.plane img {
  /* Set the size of the plane */
  width: 7rem;
}

.object {
  width: 4rem;
  height: 4rem;
  background-color: black;
  position: absolute;
  /* Start the objects at the top of the game area */
  top: 0;
  animation: moveObject 4s linear;
}

@keyframes moveObject {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
