@import url("./reset.css");
@import url("./fonts.css");
@import url("./variables.css");
@import url("./layout/user.css");
@import url("./components/globe.css");
@import url("./components/input.css");
@import url("./components/avatar.css");
@import url("./components/button.css");
@import url("./minigames/pilot.css");
@import url("./minigames/pilot-explanation.css");
@import url("./layout/news.css");
@import url("./layout/home.css");
@import url("/assets/css/layout/avatar.css");
@import url("/assets/css/layout/welcome.css");
