@import url("./reset.css");
@import url("./variables.css");
@import url("./user.css");
@import url("./components/input.css");
@import url("./components/avatar.css");
@import url("./components/button.css");
@import url("./layout/news.css");
@import url("/assets/css/layout/avatar.css");

  #chartdiv {
    width: 100%;
    height: 500px;
    max-width:100%;
    background-color:#000033;
  }
  