.home--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 8rem;

  & .home--progress {
    width: 60%;
    position: relative;

    & #user {
      color: var(--text-color);
      position: absolute;
      left: 70px;
      top: 50px;
    }
  }

  & .home--menu {
    align-items: center;
  }
}

.home--footer {
  border-top: 1px solid var(--tertiary-color);
  color: var(--text-color);
  margin-top: 7rem;
  & .home--missions,
  h2 {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
