.home--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 8rem;

  & .home--progress {
    width: 60%;
    position: relative;

    & #user {
      color: var(--text-color);
      position: absolute;
      left: 70px;
      top: 50px;
    }
  }

  & .home--menu {
    align-items: center;
    cursor: pointer;
  }
}

.home--footer {
  border-top: 1px solid var(--tertiary-color);
  color: var(--text-color);
  margin-top: 7rem;
  & .home--missions,
  h2 {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 0.5rem;
  }
}

.home--progress .rect {
  position: relative;
}

.home--progress span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home--missions a {
  position: relative;
  text-decoration: none;
  color: white;
}

.home--missions span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
