.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  transition: 0.5s;

  & .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

/* Style the close button (top right corner) */

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: red;
}

.overlay-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & ul {
    display: flex;
    margin: 0 auto;

    & li,
    svg {
      color: white;
      padding: 1rem;
      list-style-type: none;

      & a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
